<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Property</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">

 
<style type="text/css">
.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .mySlides {display:none;}
  .header-right {
    float: none;
  }
  .round {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
 .carousel-inner .carousel-item.sliderone-text {
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
  </style>
       
    </head>
    <html>
    <body>
      <div class="container">
          <div class="header">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" >
                  <img src="agent.png" style="width: 100%; float: left; margin-top: -9%;">
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2"><button style="width: 100%; margin-top: 18%;" class="btn btn-success round">sign-up</button>
              </div>
              <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
                <button style="width: 100%; margin-top: 18%;" class="btn btn-success round">Login</button>
              </div>
            </div>
          </div>
      </div>
      <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
      
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('imgs/pexels-photo-186077.jpeg');
               height: 400px; background-size: cover;" >
               <div class="sliderone-text" style="color: white;text-align: center;font-size: 23px;font-weight: bold; margin-top: 5%;">Start your search here buyer and pocket listing</div>
               <div class="text2" style="color: white; text-align: center; font-size: 23px;" >Buyer and pocket Listing</div>
               <div class="text3" style="color: #fff; text-align: center;">Agentconnect is the first platform build to let Real Estate Agent List and search for buyers and pocket listings.</div> <div style="color: #fff; text-align: center;"> from the real esate agents so they can connect and genrate new lead.</div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('imgs/images (2).jpeg');
                height: 400px; background-size: cover;" >
               <div class="text" style="color: white;text-align: center;font-size: 23px;font-weight: bold; margin-top: 5%; ">Start your search here buyer and pocket listing</div>
               <div class="text2" style="color: white; text-align: center; font-size: 23px;">Buyer and pocket Listing</div>
               <div class="text3" style="color: #fff; text-align: center;">Agentconnect is the first platform build to let Real Estate Agent List and search for buyers and pocket listings.</div> <div style="color: #fff; text-align: center;"> from the real esate agents so they can connect and genrate new lead.</div>
            </div>
            <div class="carousel-item"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('imgs/pexels-photo-186077.jpeg');
               height: 400px; background-size: cover;" >
                 <div class="sliderone-text" style="color: white;text-align: center;font-size: 23px;font-weight: bold; margin-top: 5%;">Start your search here buyer and pocket listing
                 </div>
                 <div class="text2" style="color: white; text-align: center; font-size: 23px;" >Buyer and pocket Listing
                 </div>
                 <div class="text3" style="color: #fff; text-align: center;">Agentconnect is the first platform build to let Real Estate Agent List and search for buyers and pocket listings.
                 </div> 
                 <div style="color: #fff; text-align: center;"> from the real esate agents so they can connect and genrate new lead.
                 </div>
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
      </div> 
      <!-- end of slider -->
      <div class="container">
          <div class="video" style="margin-top: 5%;">
             <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="imgs/Time_Lapse_House_Clouds_1B.mp4" ></iframe>
             </div>
          </div>
      </div>
      <div class="section">
          <h2 class="text-center" style="margin-top: 9%;">TESTIMONIALS</h2>
          <div class="row" style="margin-top: 3%;">
              <div class="col-sm-3 text-center">
                    <div class="img"><img src="imgs/agent2.jpg" style="border-radius: 50%;" height="100" width="100">
                      </div><h5>ERIC PAKER</h5><span>DESIGNER </span>
                      <hr>
                      <p>In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now.</p>
              </div>
              <div class="col-sm-3 text-center">
                    <div class="img"><img src="imgs/agent3.jpg" style="border-radius: 50%;" height="100" width="100">
                    </div><h5>JENIFER BIEBER</h5><span>DEVLOPER</span>
                    <hr>
                    <p>In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now.</p>
              </div>
              <div class="col-sm-3 text-center">
                    <div class="img"><img src="imgs/agent2.jpg" style="border-radius: 50%;" height="100" width="100">
                    </div><h5>DAVID</h5><span>CEO</span>
                    <hr>
                    <p>In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now.</p>
              </div>
              <div class="col-sm-3 text-center">
                        <div class="img"><img src="imgs/agent2.jpg" style="border-radius: 50%;" height="100" width="100"></div><h5>JUSTIN</h5><span>PROJECT MANAGER</span>
                        <hr>
                        <p>In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now.</p>
              </div>
          </div>
      </div>
      <div class="footer" style="background-color: black; height: 250px;">
          <div class="container">
            <div class="row">
            <div class="col-sm text-center" style="width: 20%; margin-top: 5%;"><h6 style="color: white;">CONTACT US</h6><p style="margin-top: -5%;">_____</p></div>
            <div class="col-sm text-center" style="width: 20%; margin-top: 5%;"><h6 style="color: white;">QUICK LINK</h6></div>
            <div class="col-sm text-center" style="width: 20%; margin-top: 5%;"><h6 style="color: white;">INFORMATION</h6></div>
            <div class="col-sm text-center" style="width: 20%; margin-top: 5%;"><h6 style="color: white;">OUR POLICY</h6></div>
            <div class="col-sm text-center" style="width: 20%; margin-top: 5%;"><h6 style="color: white;">GET SOCIAL WITH US</h6></div>
            </div>
          </div>
      </div>

    </body>
</html>
<script>

 

</script>
