<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Email Sample</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
<style>
@media only screen and (max-width: 600px) {
  .btn {
    width: 20%;
  }
  .clm {
    width: 35%;
  }
  .clm1 {
    width: 65%;
  }
}
@media only screen and (max-width: 414px) {
  .btn {
    width: 10%;
  }
}
</style></head>
<body id="email" style="background-color: rgb(23,23,23); font-size: 16px; color: rgb(243,243,243); line-height: 1.5; align-items: center; font-family: 'IBM Plex Sans'; margin: 0; padding: 0;">
    <table style="width:80%; margin-left: 10%;">
        <tr>
            <td style="font-family: 'IBM Plex Sans'; height: 48px; text-align: center; width: 100%;" width="100%" height="48" align="center">
                <span style="font-size: 14px; color: rgb(255,255,255); font-weight: 300;">Trading</span>
                <span style="font-size: 14px; font-weight: 600; color: rgb(255,255,255);">Platform</span>
            </td>
        </tr>
    </table>
    <hr style="border: none; border-bottom: 1px solid rgb(61,61,61);">
    <table style="width: 90%; margin-left: 5%;">
        <tr>
            <td colspan="4" style="font-family: 'IBM Plex Sans';">
                <span style="font-size: 28px; color: rgb(243,243,243);">This is the Heading</span>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="font-family: 'IBM Plex Sans'; padding: 15px 0px;">
                <p style="margin:0;">
                    This is a body copy of the email. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <p style="margin:0;">
                    If you want people to do an action, use a button so they don’t miss it.
                </p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; padding: 15px 0px;"> 
                <button style="background-color: rgb(0,98,255); height: 48px; padding-left: 15px; text-align: left; color: rgb(243,243,243); width: 100%; border: none;">Primary action</button> </td>
            <td style="font-family: 'IBM Plex Sans';"> <button style="padding-left: 15px; text-align: left; color: rgb(110,166,255); border: none; width: 100%; background: none;">Secondary action</button> </td>

            <td class="btn" style="width: 40%; font-family: 'IBM Plex Sans';" width="40%"> </td>

        </tr>

        <tr>
            <td colspan="4" style="font-family: 'IBM Plex Sans'; padding: 15px 0px;">
                <p style="font-size: 16px; color: rgb(243,243,243); margin: 0;">Another way of highlighting things
                    is to position it on a different background like
                    this:</p>
            </td>
        </tr>

        <tr style=" background-color: rgb(40,40,40); height: 74px; align-items: center; font-size: 20px; text-align: center;">
            <td colspan="4" width="100%" style="font-family: 'IBM Plex Sans';">


                <span>Code: 12345678</span>
            </td>
        </tr>
    </table>



    <table style="margin-left: 5%">
        <tr>
            <td style="font-family: 'IBM Plex Sans'; padding: 15px 0px;">
                Avoid writing long paragraphs, use easily scannable lists like this:
            </td>
        </tr>

        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                - Unordered List Level 1
            </td>
        </tr>

        <tr style="margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">

            <td style="font-family: 'IBM Plex Sans';">

                &nbsp;&nbsp;&nbsp; &bull; Unordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; &bull; Unordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; &bull; Unordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; &bull; Unordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                - Unordered List Level 1
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                - Unordered List Level 1
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                - Unordered List Level 1
            </td>
        </tr>

    </table>

    <br>
    <table style="margin-left: 5%">

        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                1. ordered List Level 1
            </td>
        </tr>

        <tr style="margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">

            <td style="font-family: 'IBM Plex Sans';">

                &nbsp;&nbsp;&nbsp; a. ordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; b. ordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; c. ordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 30px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                &nbsp;&nbsp;&nbsp; d. ordered List Level 2
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                2. ordered List Level 1
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                3. ordered List Level 1
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans'; margin-left: 15px; font-size: 14px; line-height: 1.6; letter-spacing: 0.16px;">
                4. ordered List Level 1
            </td>
        </tr>

    </table>


    <table style="padding: 15px 5%; width: 100%">
        <tr>
            <td style="font-family: 'IBM Plex Sans';">
                <table style="background-color: rgb(40,40,40); padding:0px 15px; width: 100%">
                    <tr style=" font-size: 20px; width: 100% ">
                        <td style="font-family: 'IBM Plex Sans'; height: 66px; width: 100%;" width="100%" height="66">We
                            can use tables as well</td>
                    </tr>

                </table>
                <table style="font-size: 14px; font-weight: 600; background-color: rgb(61,61,61); width: 100% ; padding:10px 15px;">
                    <tr>
                        <td style="font-family: 'IBM Plex Sans';">Column header</td>
                        <td style="font-family: 'IBM Plex Sans';">Column header</td>
                        <td style="font-family: 'IBM Plex Sans';">Column header</td>

                    </tr>
                </table>
                <table style="font-size: 14px; background-color: rgb(40,40,40); color: rgb(190,190,190); width: 100% ; padding:10px 15px; border-bottom: 1px solid rgb(61,61,61)">
                    <tr>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>

                    </tr>
                </table>
                <table style="font-size: 14px; background-color: rgb(40,40,40); color: rgb(190,190,190); width: 100% ; padding:10px 15px; border-bottom: 1px solid rgb(61,61,61)">
                    <tr>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>

                    </tr>
                </table>
                <table style="font-size: 14px; background-color: rgb(40,40,40); color: rgb(190,190,190); width: 100% ; padding:10px 15px; border-bottom: 1px solid rgb(61,61,61)">
                    <tr>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>
                        <td style="font-family: 'IBM Plex Sans';">cell text</td>

                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <br>


    <table style="margin-left: 5%; width: 90%;">


        <tr>
            <td style="font-family: 'IBM Plex Sans';">
                And a structured list is great as well:
            </td>
        </tr>
        <tr>
            <td style="font-family: 'IBM Plex Sans';">

                <table style="width: 100%; border-bottom: 1px solid rgb(61,61,61); padding: 10px 15px;">
                    <tr>
                        <td style="width: 25%; font-family: 'IBM Plex Sans';" class="clm" width="25%">
                            <span style="font-size: 14px;  font-weight: 600;">Column 1</span>

                        </td>
                       <td style="width: 75%; font-family: 'IBM Plex Sans';" class="clm1" width="75%">
                            <span style="font-size: 14px;  font-weight: 600;">Column 2</span>

                        </td>
                    </tr>
                </table>

                <table style="width: 100%; padding: 10px 15px; border-bottom: 1px solid rgb(61,61,61);">
                    <tr>
                        <td style="width: 25%; font-family: 'IBM Plex Sans';" class="clm" width="25%">
                            <span style="font-size: 14px;  ">Row item</span>

                        </td>
                       <td style="width: 75%; font-family: 'IBM Plex Sans';" class="clm1" width="75%">
                            <span style="font-size: 14px;  ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </span>

                        </td>
                    </tr>
                </table>

                <table style="width: 100%; padding: 10px 15px; border-bottom: 1px solid rgb(61,61,61);">
                    <tr>
                        <td style="width: 25%; font-family: 'IBM Plex Sans';" class="clm" width="25%">
                            <span style="font-size: 14px;  ">Row item</span>

                        </td>
                       <td style="width: 75%; font-family: 'IBM Plex Sans';" class="clm1" width="75%">
                            <span style="font-size: 14px; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </span>

                        </td>
                    </tr>
                </table>
                <table style="width: 100%; padding: 10px 15px; border-bottom: 1px solid rgb(61,61,61);">
                    <tr>
                        <td style="width: 25%; font-family: 'IBM Plex Sans';" class="clm" width="25%">
                            <span style="font-size: 14px;  ">Row item</span>

                        </td>
                       <td style="width: 75%; font-family: 'IBM Plex Sans';" class="clm1" width="75%">
                            <span style="font-size: 14px;  ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </span>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>








    </table>
    <br><br><br><br>

    <hr style="border: none; border-bottom: 1px solid rgb(61,61,61);">

    <table style="text-align: center; width: 100%">


        <tr>
            <td style="font-family: 'IBM Plex Sans';">
                <span>Have a quetsion?</span><a href="" style="text-decoration: none;
    color: rgb(107,164,255);"> Contact us</a>

            </td>
        </tr>

        <tr>
            <td style="font-family: 'IBM Plex Sans';">
                <img src="http://angular.visionvivante.com/twitter-icon.png" style="height: 17px; padding-top: 15px;">

            </td>
        </tr>




        <tr>
            <td style="font-family: 'IBM Plex Sans'; height: 48px; text-align: center; width: 100%;" width="100%" height="48" align="center">
                <span style="font-size: 14px; color: rgb(255,255,255); font-weight: 300;">Trading</span>
                <span style="font-size: 14px; font-weight: 600; color: rgb(255,255,255);">Platform</span>
            </td>


        </tr>
    </table>


    <table style="padding: 0; margin: 0; background-color: rgb(40,40,40); text-align: center; width: 100%; height: 100%; bottom: 0; text-align: center; align-items: center; ">

        <tr>
            <td style="font-family: 'IBM Plex Sans';">
                <p style="width: 60%; margin-left: 20%; font-style: italic; font-size: 12px; color: rgb(190,190,190); padding: 10px 0px;">
                    You are receiving this email because an account was registered with TradingPlatform using the
                    address <a href="" style="text-decoration: none;
    color: rgb(107,164,255);">mail@gmail.com</a></p>
            </td>
        </tr>
    </table>
</body>

</html>